<?xml version="1.0"?>
<config>
    <tabs>
        <ctn translate="label" module="ctn_mail">
            <label>CTN's PlayGround</label>
            <sort_order>1</sort_order>
        </ctn>
    </tabs>     
    
    <sections>
        <ctnmail translate="label" module="ctn_mail">
            <label>Mail</label>
            <tab>ctn</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>        
            <show_in_store>1</show_in_store>
            
            <groups>                       
                <smtp translate="label comment">
                    <label>SMTP</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Settings for mailing with SMTP (default values are for Gmail).</comment>
                    
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>                        
                        <smtp_host translate="label">
                            <label>SMTP Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </smtp_host>
                        <auth translate="label comment">                            
                            <label>Authentication</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_smtpauth</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Authentication method</comment>
                        </auth>
                        <ssl translate="label comment">
                            <label>SSL Protocol</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>SSL protocol: 'ssl' or 'tls'</comment>
                        </ssl>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </port>                        
                        <username translate="label comment">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Mail account username</comment>
                        </username>
                        <password translate="label comment">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Mail account password</comment>
                        </password>
                    </fields>    
                </smtp> 
                
                <copy_emails translate="label comment">
                    <label>Copy Emails</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>All application emails will be sent to these email addresses too.</comment>
                    
                    <fields>
                        <copy_to translate="label comment">
                            <label>Send Email Copy To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated. If empty then feature is not applied.</comment>
                        </copy_to>                        
                    </fields>    
                </copy_emails>    
                          
                <!--<test translate="label comment">
                    <label>Test Email</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Simple test email configuration</comment>
                    
                    <fields>
                        <identity translate="label">
                            <label>Test Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </identity>                        
                        <template translate="label">
                            <label>Test Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <copy_to translate="label comment">
                            <label>Send Test Email Copy To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </copy_to>
                        <copy_method translate="label">
                            <label>Send Test Email Copy Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_method</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </copy_method>
                    </fields>                    
                </test>-->
            </groups>
            
        </ctnmail>    
    </sections>
    
</config>